
#index{
   text-align: center;
   font-size: 23px;
  
}
img{
    width: 23px;
   
}
#index .layout-l{
display: inline-block;
margin-top:20%
}
.passw img{
    opacity: 0.5;
}
#index div{
    margin: 10px
}
// input[type="text"]{
//     outline: blue;
//     line-height: 25px;
//     border: none
// }
.el-input{
    width: 200px
}
a{ 
    text-decoration: none;
    color: rgba(1,1,1,0.8)
}
a:hover{
    color: rgb(34, 119, 158)
}

