@import '../../assets/bass.less';
@import '../../assets/tx.less';
figure{
    margin: 20px;
    text-align: center
}
.content{
    display: grid;
   grid-template-columns: 110px 1fr;
   grid-template-rows: 50px 50px
}
.text{
    margin-left: 10px;
    align-self: center;
    text-justify: auto;
    background:rgba(191, 198, 201, 0.5)
}
a{
    color: black
}